pipeline/incremental.json
{
	"name": "incremental",
	"properties": {
		"activities": [
			{
				"name": "last_cdc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "cdc_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "last_cdc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_db",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat(\n    'select count(*) as total_ct from ',\n    pipeline().parameters.schema,\n    '.',\n    pipeline().parameters.table,\n    ' where last_updated > ''',\n    if(\n        empty(pipeline().parameters.back_date),\n        activity('last_cdc').output.value[0].cdc_timestamp,\n        pipeline().parameters.back_date\n    ),\n    ''''\n)",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Script1').output.resultSets[0].rows[0].total_ct,0 )",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Data load",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat(\n    'select * from ',\n    pipeline().parameters.schema,\n    '.',\n    pipeline().parameters.table,\n    ' where last_updated > ''',\n    if(\n        empty(pipeline().parameters.back_date),\n        activity('last_cdc').output.value[0].cdc_timestamp,\n        pipeline().parameters.back_date\n    ),\n    ''''\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sql",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Max_Cdc",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Data load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_db",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "Select max(last_updated) as cdc_timestamp from @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Update_Cdc",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Max_Cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc_timestamp",
											"value": {
												"value": "@activity('Max_Cdc').output.resultSets[0].rows[0].cdc_timestamp",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "empty_json",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "sink_cdc",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string",
				"defaultValue": "source"
			},
			"table": {
				"type": "string",
				"defaultValue": "orders"
			},
			"back_date": {
				"type": "string"
			}
		},
		"variables": {
			"test": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-19T11:54:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}